# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
doc/_build/

# PyBuilder
target/

# OWN STUFF
#.gitignore
.idea/
dingo/output/
/Line_loading_feed-in_case.png
/Line_loading_load_case.png
/dingo.cprof
/dingo/core/network/grids.py.orig
/dingo/line_data_after.csv
/dingo/tools/pypsa_io.py.orig
/doc/_html/.buildinfo
/doc/_html/.doctrees/about.doctree
/doc/_html/.doctrees/api.doctree
/doc/_html/.doctrees/api/dingo.core.doctree
/doc/_html/.doctrees/api/dingo.core.network.doctree
/doc/_html/.doctrees/api/dingo.core.structure.doctree
/doc/_html/.doctrees/api/dingo.doctree
/doc/_html/.doctrees/api/dingo.flexopt.doctree
/doc/_html/.doctrees/api/dingo.grid.doctree
/doc/_html/.doctrees/api/dingo.grid.lv_grid.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.models.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.solvers.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.tests.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.util.doctree
/doc/_html/.doctrees/api/modules.doctree
/doc/_html/.doctrees/api/setup.doctree
/doc/_html/.doctrees/api/test_dingo2.doctree
/doc/_html/.doctrees/calculation.doctree
/doc/_html/.doctrees/development.doctree
/doc/_html/.doctrees/environment.pickle
/doc/_html/.doctrees/getting_started.doctree
/doc/_html/.doctrees/index.doctree
/doc/_html/.doctrees/usage_details.doctree
/doc/_html/.doctrees/welcome.doctree
/doc/_html/.doctrees/whatsnew.doctree
/doc/_html/_images/math/a4e95e1fbf394af7fd662215330459eb30580b42.png
/doc/_html/_images/math/ada6cdb0b3a619ceda5564d898016dbfe9c952bd.png
/doc/_html/_images/math/eb8146667061d2c0a610d6d839cea0df99d29062.png
/doc/_html/_sources/about.rst.txt
/doc/_html/_sources/about.txt
/doc/_html/_sources/api.rst.txt
/doc/_html/_sources/api.txt
/doc/_html/_sources/api/dingo.core.network.rst.txt
/doc/_html/_sources/api/dingo.core.network.txt
/doc/_html/_sources/api/dingo.core.rst.txt
/doc/_html/_sources/api/dingo.core.structure.rst.txt
/doc/_html/_sources/api/dingo.core.structure.txt
/doc/_html/_sources/api/dingo.core.txt
/doc/_html/_sources/api/dingo.flexopt.rst.txt
/doc/_html/_sources/api/dingo.grid.lv_grid.rst.txt
/doc/_html/_sources/api/dingo.grid.lv_grid.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.models.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.models.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.solvers.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.solvers.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.tests.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.tests.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.util.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.util.txt
/doc/_html/_sources/api/dingo.grid.rst.txt
/doc/_html/_sources/api/dingo.grid.txt
/doc/_html/_sources/api/dingo.rst.txt
/doc/_html/_sources/api/dingo.txt
/doc/_html/_sources/api/modules.rst.txt
/doc/_html/_sources/api/modules.txt
/doc/_html/_sources/api/setup.rst.txt
/doc/_html/_sources/api/setup.txt
/doc/_html/_sources/api/test_dingo2.txt
/doc/_html/_sources/calculation.rst.txt
/doc/_html/_sources/calculation.txt
/doc/_html/_sources/development.rst.txt
/doc/_html/_sources/development.txt
/doc/_html/_sources/getting_started.rst.txt
/doc/_html/_sources/getting_started.txt
/doc/_html/_sources/index.rst.txt
/doc/_html/_sources/index.txt
/doc/_html/_sources/usage_details.rst.txt
/doc/_html/_sources/usage_details.txt
/doc/_html/_sources/welcome.rst.txt
/doc/_html/_sources/welcome.txt
/doc/_html/_sources/whatsnew.rst.txt
/doc/_html/_sources/whatsnew.txt
/doc/_html/_static/ajax-loader.gif
/doc/_html/_static/basic.css
/doc/_html/_static/comment-bright.png
/doc/_html/_static/comment-close.png
/doc/_html/_static/comment.png
/doc/_html/_static/css/badge_only.css
/doc/_html/_static/css/theme.css
/doc/_html/_static/doctools.js
/doc/_html/_static/down-pressed.png
/doc/_html/_static/down.png
/doc/_html/_static/file.png
/doc/_html/_static/fonts/Inconsolata-Bold.ttf
/doc/_html/_static/fonts/Inconsolata-Regular.ttf
/doc/_html/_static/fonts/Lato-Bold.ttf
/doc/_html/_static/fonts/Lato-Regular.ttf
/doc/_html/_static/fonts/RobotoSlab-Bold.ttf
/doc/_html/_static/fonts/RobotoSlab-Regular.ttf
/doc/_html/_static/fonts/fontawesome-webfont.eot
/doc/_html/_static/fonts/fontawesome-webfont.svg
/doc/_html/_static/fonts/fontawesome-webfont.ttf
/doc/_html/_static/fonts/fontawesome-webfont.woff
/doc/_html/_static/jquery-1.11.1.js
/doc/_html/_static/jquery-3.1.0.js
/doc/_html/_static/jquery.js
/doc/_html/_static/js/modernizr.min.js
/doc/_html/_static/js/theme.js
/doc/_html/_static/minus.png
/doc/_html/_static/plus.png
/doc/_html/_static/pygments.css
/doc/_html/_static/searchtools.js
/doc/_html/_static/underscore-1.3.1.js
/doc/_html/_static/underscore.js
/doc/_html/_static/up-pressed.png
/doc/_html/_static/up.png
/doc/_html/_static/websupport.js
/doc/_html/about.html
/doc/_html/api.html
/doc/_html/api/dingo.core.html
/doc/_html/api/dingo.core.network.html
/doc/_html/api/dingo.core.structure.html
/doc/_html/api/dingo.flexopt.html
/doc/_html/api/dingo.grid.html
/doc/_html/api/dingo.grid.lv_grid.html
/doc/_html/api/dingo.grid.mv_grid.html
/doc/_html/api/dingo.grid.mv_grid.models.html
/doc/_html/api/dingo.grid.mv_grid.solvers.html
/doc/_html/api/dingo.grid.mv_grid.tests.html
/doc/_html/api/dingo.grid.mv_grid.util.html
/doc/_html/api/dingo.html
/doc/_html/api/modules.html
/doc/_html/api/setup.html
/doc/_html/api/test_dingo2.html
/doc/_html/calculation.html
/doc/_html/development.html
/doc/_html/genindex.html
/doc/_html/getting_started.html
/doc/_html/index.html
/doc/_html/objects.inv
/doc/_html/py-modindex.html
/doc/_html/search.html
/doc/_html/searchindex.js
/doc/_html/usage_details.html
/doc/_html/welcome.html
/doc/_html/whatsnew.html
/doc/api/.doctrees/about.doctree
/doc/api/.doctrees/api.doctree
/doc/api/.doctrees/development.doctree
/doc/api/.doctrees/dingo.core.doctree
/doc/api/.doctrees/dingo.core.network.doctree
/doc/api/.doctrees/dingo.core.structure.doctree
/doc/api/.doctrees/dingo.doctree
/doc/api/.doctrees/dingo.grid.doctree
/doc/api/.doctrees/dingo.grid.lv_grid.doctree
/doc/api/.doctrees/dingo.grid.mv_routing.doctree
/doc/api/.doctrees/dingo.grid.mv_routing.models.doctree
/doc/api/.doctrees/dingo.grid.mv_routing.solvers.doctree
/doc/api/.doctrees/dingo.grid.mv_routing.tests.doctree
/doc/api/.doctrees/dingo.grid.mv_routing.util.doctree
/doc/api/.doctrees/environment.pickle
/doc/api/.doctrees/getting_started.doctree
/doc/api/.doctrees/index.doctree
/doc/api/.doctrees/modules.doctree
/doc/api/.doctrees/usage_details.doctree
/doc/api/.doctrees/welcome.doctree
/doc/api/.doctrees/whatsnew.doctree
/doc/api/_sources/about.txt
/doc/api/_sources/api.txt
/doc/api/_sources/development.txt
/doc/api/_sources/dingo.core.network.txt
/doc/api/_sources/dingo.core.structure.txt
/doc/api/_sources/dingo.core.txt
/doc/api/_sources/dingo.grid.lv_grid.txt
/doc/api/_sources/dingo.grid.mv_routing.models.txt
/doc/api/_sources/dingo.grid.mv_routing.solvers.txt
/doc/api/_sources/dingo.grid.mv_routing.tests.txt
/doc/api/_sources/dingo.grid.mv_routing.txt
/doc/api/_sources/dingo.grid.mv_routing.util.txt
/doc/api/_sources/dingo.grid.txt
/doc/api/_sources/dingo.txt
/doc/api/_sources/getting_started.txt
/doc/api/_sources/index.txt
/doc/api/_sources/modules.txt
/doc/api/_sources/usage_details.txt
/doc/api/_sources/welcome.txt
/doc/api/_sources/whatsnew.txt
/doc/api/_static/ajax-loader.gif
/doc/api/_static/basic.css
/doc/api/_static/comment-bright.png
/doc/api/_static/comment-close.png
/doc/api/_static/comment.png
/doc/api/_static/css/badge_only.css
/doc/api/_static/css/theme.css
/doc/api/_static/doctools.js
/doc/api/_static/down-pressed.png
/doc/api/_static/down.png
/doc/api/_static/file.png
/doc/api/_static/fonts/Inconsolata-Bold.ttf
/doc/api/_static/fonts/Inconsolata-Regular.ttf
/doc/api/_static/fonts/Lato-Bold.ttf
/doc/api/_static/fonts/Lato-Regular.ttf
/doc/api/_static/fonts/RobotoSlab-Bold.ttf
/doc/api/_static/fonts/RobotoSlab-Regular.ttf
/doc/api/_static/fonts/fontawesome-webfont.eot
/doc/api/_static/fonts/fontawesome-webfont.svg
/doc/api/_static/fonts/fontawesome-webfont.ttf
/doc/api/_static/fonts/fontawesome-webfont.woff
/doc/api/_static/jquery-1.11.1.js
/doc/api/_static/jquery.js
/doc/api/_static/js/modernizr.min.js
/doc/api/_static/js/theme.js
/doc/api/_static/minus.png
/doc/api/_static/plus.png
/doc/api/_static/pygments.css
/doc/api/_static/searchtools.js
/doc/api/_static/underscore-1.3.1.js
/doc/api/_static/underscore.js
/doc/api/_static/up-pressed.png
/doc/api/_static/up.png
/doc/api/_static/websupport.js
/doc/tex/mv_grid_methodology/dingodoc.kilepr
/doc/tex/mv_grid_methodology/mv_grid_methodology.aux
/doc/tex/mv_grid_methodology/mv_grid_methodology.pdf
/doc/tex/mv_grid_methodology/mv_grid_methodology.tex
/doc/tex/mv_grid_methodology/mv_grid_methodology.tex.backup
/doc/_html/_images/math/0cb767aa2f9bb15b07d446ff387378d6e0f9472a.png
/doc/_html/_images/math/0f3177c3715174a07dbd8ac78a6392b07a311921.png
/doc/_html/_images/math/0fa363118aa0ea82bf2b7d5ef7c47be2e7203b64.png
/doc/_html/_images/math/11f4346a0ed02de6fc8e8a95e8e73c9f1633b9bc.png
/doc/_html/_images/math/1461366cc8fdb5efd61f63e392929b1d95baa230.png
/doc/_html/_images/math/3a2a8105a34493737dd39a1ae473fc227f6b25ae.png
/doc/_html/_images/math/48d3249a71bcbe422f1027058c13411a5ffef785.png
/doc/_html/_images/math/5cd56e7aa6cbff022748ee8f771b82e8eab92c54.png
/doc/_html/_images/math/6ce298c5d2580e2cebcbddb40d7c02827a821c2a.png
/doc/_html/_images/math/9ef438bfa311d8fa597f8a1da5b65ab27f8814b2.png
/doc/_html/_images/math/da144af749684c0151d5226438fe50b3daf2d413.png
/doc/_html/_images/math/f04e194fe86662844540d63eaff704a5b16f7210.png
/doc/_html/_images/math/f296417abb384ea28aef459bea9ef1100fcd76c0.png
/doc/_html/_images/mvgd_la_lvgd-mit_ortsnamen.png
/doc/_html/_modules/dingo.html
/doc/_html/_modules/dingo/config/config_db_interfaces.html
/doc/_html/_modules/dingo/core.html
/doc/_html/_modules/dingo/core/network.html
/doc/_html/_modules/dingo/core/network/cable_distributors.html
/doc/_html/_modules/dingo/core/network/grids.html
/doc/_html/_modules/dingo/core/network/loads.html
/doc/_html/_modules/dingo/core/network/stations.html
/doc/_html/_modules/dingo/core/powerflow.html
/doc/_html/_modules/dingo/core/structure.html
/doc/_html/_modules/dingo/core/structure/groups.html
/doc/_html/_modules/dingo/core/structure/regions.html
/doc/_html/_modules/dingo/flexopt/check_tech_constraints.html
/doc/_html/_modules/dingo/flexopt/reinforce_grid.html
/doc/_html/_modules/dingo/flexopt/reinforce_measures.html
/doc/_html/_modules/dingo/flexopt/reinforce_measures_dena.html
/doc/_html/_modules/dingo/grid/lv_grid/build_grid.html
/doc/_html/_modules/dingo/grid/lv_grid/lv_connect.html
/doc/_html/_modules/dingo/grid/mv_grid/models/models.html
/doc/_html/_modules/dingo/grid/mv_grid/mv_connect.html
/doc/_html/_modules/dingo/grid/mv_grid/mv_routing.html
/doc/_html/_modules/dingo/grid/mv_grid/solvers/base.html
/doc/_html/_modules/dingo/grid/mv_grid/solvers/local_search.html
/doc/_html/_modules/dingo/grid/mv_grid/solvers/savings.html
/doc/_html/_modules/dingo/grid/mv_grid/tests/run_test_case.html
/doc/_html/_modules/dingo/grid/mv_grid/tools.html
/doc/_html/_modules/dingo/grid/mv_grid/util/data_input.html
/doc/_html/_modules/dingo/grid/mv_grid/util/util.html
/doc/_html/_modules/dingo/grid/tools.html
/doc/_html/_modules/dingo/tools/animation.html
/doc/_html/_modules/dingo/tools/config.html
/doc/_html/_modules/dingo/tools/debug.html
/doc/_html/_modules/dingo/tools/geo.html
/doc/_html/_modules/dingo/tools/logger.html
/doc/_html/_modules/dingo/tools/pypsa_io.html
/doc/_html/_modules/dingo/tools/results.html
/doc/_html/_modules/dingo/tools/tools.html
/doc/_html/_modules/index.html
/doc/_html/_modules/sqlalchemy/orm/attributes.html
/doc/_html/_sources/api/dingo.config.rst.txt
/doc/_html/_sources/api/dingo.core.network.cable_distributors.rst.txt
/doc/_html/_sources/api/dingo.core.network.grids.rst.txt
/doc/_html/_sources/api/dingo.core.network.loads.rst.txt
/doc/_html/_sources/api/dingo.core.network.stations.rst.txt
/doc/_html/_sources/api/dingo.core.network.transformers.rst.txt
/doc/_html/_sources/api/dingo.core.powerflow.rst.txt
/doc/_html/_sources/api/dingo.core.structure.groups.rst.txt
/doc/_html/_sources/api/dingo.core.structure.regions.rst.txt
/doc/_html/_sources/api/dingo.flexopt.check_tech_constraints.rst.txt
/doc/_html/_sources/api/dingo.flexopt.reinforce_grid.rst.txt
/doc/_html/_sources/api/dingo.flexopt.reinforce_measures.rst.txt
/doc/_html/_sources/api/dingo.flexopt.reinforce_measures_dena.rst.txt
/doc/_html/_sources/api/dingo.grid.lv_grid.build_grid.rst.txt
/doc/_html/_sources/api/dingo.grid.lv_grid.lv_connect.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.models.models.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.mv_connect.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.mv_routing.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.solvers.base.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.solvers.local_search.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.solvers.savings.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.tests.run_test_case.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.tools.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.util.data_input.rst.txt
/doc/_html/_sources/api/dingo.grid.mv_grid.util.util.rst.txt
/doc/_html/_sources/api/dingo.grid.tools.rst.txt
/doc/_html/_sources/api/dingo.tools.rst.txt
/doc/_html/_sources/api/index.rst.txt
/doc/_html/api/dingo.config.html
/doc/_html/api/dingo.core.network.cable_distributors.html
/doc/_html/api/dingo.core.network.grids.html
/doc/_html/api/dingo.core.network.loads.html
/doc/_html/api/dingo.core.network.stations.html
/doc/_html/api/dingo.core.network.transformers.html
/doc/_html/api/dingo.core.powerflow.html
/doc/_html/api/dingo.core.structure.groups.html
/doc/_html/api/dingo.core.structure.regions.html
/doc/_html/api/dingo.flexopt.check_tech_constraints.html
/doc/_html/api/dingo.flexopt.reinforce_grid.html
/doc/_html/api/dingo.flexopt.reinforce_measures.html
/doc/_html/api/dingo.flexopt.reinforce_measures_dena.html
/doc/_html/api/dingo.grid.lv_grid.build_grid.html
/doc/_html/api/dingo.grid.lv_grid.lv_connect.html
/doc/_html/api/dingo.grid.mv_grid.models.models.html
/doc/_html/api/dingo.grid.mv_grid.mv_connect.html
/doc/_html/api/dingo.grid.mv_grid.mv_routing.html
/doc/_html/api/dingo.grid.mv_grid.solvers.base.html
/doc/_html/api/dingo.grid.mv_grid.solvers.local_search.html
/doc/_html/api/dingo.grid.mv_grid.solvers.savings.html
/doc/_html/api/dingo.grid.mv_grid.tests.run_test_case.html
/doc/_html/api/dingo.grid.mv_grid.tools.html
/doc/_html/api/dingo.grid.mv_grid.util.data_input.html
/doc/_html/api/dingo.grid.mv_grid.util.util.html
/doc/_html/api/dingo.grid.tools.html
/doc/_html/api/dingo.tools.html
/doc/_html/api/index.html
/doc/_html/.doctrees/api/dingo.config.doctree
/doc/_html/.doctrees/api/dingo.core.network.cable_distributors.doctree
/doc/_html/.doctrees/api/dingo.core.network.grids.doctree
/doc/_html/.doctrees/api/dingo.core.network.loads.doctree
/doc/_html/.doctrees/api/dingo.core.network.stations.doctree
/doc/_html/.doctrees/api/dingo.core.network.transformers.doctree
/doc/_html/.doctrees/api/dingo.core.powerflow.doctree
/doc/_html/.doctrees/api/dingo.core.structure.groups.doctree
/doc/_html/.doctrees/api/dingo.core.structure.regions.doctree
/doc/_html/.doctrees/api/dingo.flexopt.check_tech_constraints.doctree
/doc/_html/.doctrees/api/dingo.flexopt.reinforce_grid.doctree
/doc/_html/.doctrees/api/dingo.flexopt.reinforce_measures.doctree
/doc/_html/.doctrees/api/dingo.flexopt.reinforce_measures_dena.doctree
/doc/_html/.doctrees/api/dingo.grid.lv_grid.build_grid.doctree
/doc/_html/.doctrees/api/dingo.grid.lv_grid.lv_connect.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.models.models.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.mv_connect.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.mv_routing.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.solvers.base.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.solvers.local_search.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.solvers.savings.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.tests.run_test_case.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.tools.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.util.data_input.doctree
/doc/_html/.doctrees/api/dingo.grid.mv_grid.util.util.doctree
/doc/_html/.doctrees/api/dingo.grid.tools.doctree
/doc/_html/.doctrees/api/dingo.tools.doctree
/doc/_html/.doctrees/api/index.doctree
/.virtualenv/dingo/bin/activate
/.virtualenv/dingo/bin/activate.csh
/.virtualenv/dingo/bin/activate.fish
/.virtualenv/dingo/bin/activate_this.py
/.virtualenv/dingo/bin/easy_install
/.virtualenv/dingo/bin/easy_install-3.4
/.virtualenv/dingo/bin/pip
/.virtualenv/dingo/bin/pip3
/.virtualenv/dingo/bin/pip3.4
/.virtualenv/dingo/bin/python
/.virtualenv/dingo/bin/python3
/.virtualenv/dingo/bin/python3.4
/.virtualenv/dingo/include/python3.4m
