absl-py==0.6.1
affine==2.2.2
appdirs==1.4.3
asn1crypto==0.24.0
astor==0.7.1
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
bleach==3.0.2
Cartopy==0.17.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
contextily==0.99.0
cryptography==2.6.1
cycler==0.10.0
Cython==0.29.8
decorator==4.3.0
defusedxml==0.5.0
demandlib==0.1.6
descartes==1.1.0
dill==0.2.9
ding0==0.1.11.dev0
eDisGo==0.0.9
egoio==0.4.5
entrypoints==0.2.3
ephem==3.7.6.0
Fiona==1.8.4
Flask==1.0.3
gast==0.2.0
GeoAlchemy2==0.4.1
geopandas==0.4.1
geopy==1.11.0
geos==0.2.1
graphviz==0.10.1
grpcio==1.17.0
h5py==2.8.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.13.1
jeepney==0.4
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==18.0.0
keyrings.alt==3.1.1
kiwisolver==1.0.1
linecache2==1.0.0
lunardate==0.2.0
lxml==4.3.3
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.0.0
mercantile==1.0.4
mistune==0.8.4
more-itertools==6.0.0
multiprocess==0.70.7
munch==2.3.2
nb-conda==2.2.1
nb-conda-kernels==2.2.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==1.11
nose==1.3.7
notebook==5.7.2
numpy==1.15.4
oedialect==0.0.5.dev0
olefile==0.46
OWSLib==0.17.1
pandas==0.20.3
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pluggy==0.9.0
ply==3.11
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.6.1
psycopg2==2.7.7
ptyprocess==0.6.0
py==1.8.0
pyCalverter==1.6.1
pycparser==2.19
pydot==1.4.0
pydotplus==2.0.2
pyepsg==0.4.0
Pygments==2.3.0
pykdtree==1.3.1
pyluach==1.0.1
Pyomo==5.6.1
pyOpenSSL==19.0.0
pyparsing==2.3.0
pyproj==1.9.5.1
pypsa==0.11.0
pyrsistent==0.14.11
pyshp==2.1.0
PySocks==1.6.8
pytest==4.3.0
python-dateutil==2.7.5
pytz==2019.1
PyUtilib==5.6.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
rasterio==1.0.22
requests==2.21.0
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
SecretStorage==3.1.1
Send2Trash==1.5.0
Shapely==1.6.2
six==1.12.0
sklearn==0.0
snuggs==1.4.3
SQLAlchemy==1.2.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traceback2==1.4.0
traitlets==4.3.2
unittest2==1.1.0
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
workalendar==4.3.0
