sphinx_rtd_theme
networkx >= 1.11, <=1.11
geopy >=1.11.0, <=1.11.0
pandas >=0.20.3, <=0.20.3
pyproj >=1.9.5.1, <=1.9.5.1
sqlalchemy >= 1.0.11, <= 1.2.0
matplotlib >=1.5.3, <=1.5.3
egoio >=0.4.5
pypsa >=0.11.0, <=0.11.0
seaborn
unittest2
oedialect
mock





