# This config file is part of DINGO
# It defines schemas and tables in the database where data is read from or written to.
# Refer to documentation at http://dingo.readthedocs.io/en/dev/index.html for more information.

[regions]
mv_grid_districts = GridDistrict
#mv_grid_districts = INSERT dp v0.2
lv_load_areas = EgoDeuLoadArea
#lv_load_areas = INSERT dp v0.2
lv_grid_district = LVGridDistrict
#lv_load_areas = INSERT dp v0.2

[stations]
mv_stations = EgoDeuSubstation
#mv_stations = INSERT dp v0.2
lv_stations = EgoDeuOnts
#lv_stations = INSERT dp v0.2

[loads]
lv_loads = CalcEgoPeakLoad
#lv_loads = INSERT dp v0.2

[grids]
mv_grids = app_dingo_res.mv_grids

[generators]
#re_generators = EgoSupplyRea (dp v0.2)
conv_generators = EgoConvPowerplant
re_generators = EgoDeaAllocation
#re_generators = EgoResPowerplant (dp v0.2)
