# This config file is part of DINGO
# It defines different calculation assumptions and parameters used within the tool.
# Refer to documentation at http://dingo.readthedocs.io/en/dev/index.html for more information.

[mv_routing]
operator_diff_round_digits = 3

#load_threshold: unit kW
load_area_threshold = 1

[mv_connect]

#load_area_sat_load_threshold: unit kW
load_area_sat_load_threshold = 100

#load_area_sat_string_load_threshold: unit kW
load_area_sat_string_load_threshold = 500

#load_area_sat_line_dist_threshold: valid range: 0..1
load_area_sat_conn_dist_weight = 1

#load_area_sat_string_length_threshold: unit m
load_area_sat_string_length_threshold = 3000

#load_area_sat_conn_dist_ring_mod: unit m
load_area_sat_conn_dist_ring_mod = 100

#load_area_stat_conn_dist_ring_mod: unit m
load_area_stat_conn_dist_ring_mod = 300

#load_area_sat_buffer_radius: unit m
load_area_sat_buffer_radius = 2000

#load_area_sat_buffer_radius_inc: unit m
load_area_sat_buffer_radius_inc = 1000

#generator_buffer_radius: unit m
generator_buffer_radius = 2000

#generator_buffer_radius_inc: unit m
generator_buffer_radius_inc = 1000

[assumptions]

#load_density_threshold: unit MVA/km^2
load_density_threshold = 1

#MV load factors for load- (lc) and feed-in case(fc): unit: -
load_factor_mv_trans_lc_normal = 0.6
load_factor_mv_line_lc_normal = 0.6
load_factor_mv_cable_lc_normal = 0.6

load_factor_mv_trans_lc_malfunc = 1.0
load_factor_mv_line_lc_malfunc = 1.0
load_factor_mv_cable_lc_malfunc = 1.0

load_factor_mv_trans_fc_normal = 1.0
load_factor_mv_line_fc_normal = 1.0
load_factor_mv_cable_fc_normal = 1.0

#LV load factors for load- (lc) and feed-in case(fc): unit: -
load_factor_lv_trans_lc_normal = 1.0
load_factor_lv_line_lc_normal = 1.0
load_factor_lv_cable_lc_normal = 1.0

load_factor_lv_trans_fc_normal = 1.0
load_factor_lv_line_fc_normal = 1.0
load_factor_lv_cable_fc_normal = 1.0

apartment_house_branch_ratio = 1.5
population_per_apartment = 2.3

#branch_detour_factor: unit: -
branch_detour_factor = 1.4

# load_in_generation_case: unit: -
load_in_generation_case = 0

# generation_in_load_case: unit: kW
generation_in_load_case = 0

[mv_routing_tech_constraints]

#mv_half_ring_count_max: unit: -
mv_half_ring_count_max = 8

#mv_routing_loads_cos_phi: unit: -
mv_routing_loads_cos_phi = 0.95

#mv_station_v_level_operation: unit: -
mv_station_v_level_operation = 1.04

#mv_max_v_level_diff_normal: unit: -
mv_max_v_level_diff_normal = 0.04

#mv_max_v_level_diff_malfunc: unit: -
mv_max_v_level_diff_malfunc = 0.10
